* {
    font-family: 'Josefin Sans', sans-serif;
  }

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #314749;
}

h2 {
  font-size: 1.3em;
  color: #314749;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

@media only screen and (min-width: 720px) {
  /* .hidden {
    visibility: hidden;
  } */


}