<div class="whole">
  <section class="sign">
    <div class="welcome">
      <div class="displayTable">
        <div class="displayTableCell">
          <div class="authBlock">
            <h3>Reset Password</h3>

            <p class="text-center">
              Please enter your email address to request a password reset.
            </p>

            <div class="formGroup">
              <input
                type="email"
                class="formControl"
                placeholder="Email Address"
                #passwordResetEmail
                required
              />
            </div>

            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="formGroup">
              <input
                type="submit"
                class="login"
                value="Reset Password"
                (click)="authService.ForgotPassword(passwordResetEmail.value)"
              />
            </div>
          </div>

          <div class="redirectToLogin">
            <span
              >Go back to
              <span class="redirect" routerLink="/sign-in"><button id="sign">Log In</button></span>
              </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="intro">
    <div id="text">
      <img src="../../../assets/Novelish.png" alt="Novelish logo">
      <p>A book review site that is powered by you, the user!</p>
    </div>
  </section>
  <div>
      <fa-icon [icon]="faBookReader" size="3x" class="circle"></fa-icon>
    </div>
</div>
