* {
  font-family: 'Josefin Sans', sans-serif;
}

.whole {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
}
.sign {
  background-color: #F4FAF8;
}
#intro {
  background-color: #3793CD;
  color: #F4FAF8 ;
  text-align: center;
}
#text {
  margin: 30px;
}

h3 {
  font-size: 20px;
}

span {
  font-size: 12px;
}

/*white side with sign in information*/
.welcome {
  margin: 40px;
}

/*input box with rounded corners*/
.formControl {
  display: flex;
  width: 250px;
  font-size: 15px;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px #e4e4e4 solid;
  color: #435C5F;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.formGroup {
  display: flex;
  justify-content: center;
}

.formControl:hover {
  transform: scale(1.05);
}

/*label*/
label {
  font-size: 12px;
  padding-left: 15px;
  text-indent: -15px;
  display: block;
  margin-bottom: 15px;
}

/*buttons*/
.login {
  background-color: #3793CB;
  color: #F4FAF8 ;
  border: #3793CB;
  border-radius: 25px;
  width: 130px;
  text-align: center;
  margin-right: 40px;
  padding: 8px;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login:hover {
  transform: scale(1.05);
}

#sign {
  background-color: #F4FAF8;
  color: #3793CB;
  border: 1px solid #3793CB;
  border-radius: 25px;
  text-align: center;
  width: 100px;
  padding: 8px;
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sign:hover {
  transform: scale(1.05);
}

.circle {
  visibility: hidden;
}

img{
    max-width: 180px;
}

img:hover {
  transform: scale(1.05);
}

.redirectToLogin{
    padding-top: 20px;
}

/* This is where the layout will break from mobile to Desktop */
@media only screen and (min-width: 720px) {
  
/*created the box that contains the content with drop shaddow and centered content*/
.whole {
  width: 900px;
  height: 500px;
  position: fixed;
  box-shadow: 1px 4px 100px grey;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*created ~2/3 on left white box*/
.sign {
  background-color: #F4FAF8 ;
  position: fixed;
  right: 0;
  width: 65%;
  height: 500px;
}

/*created ~1/3 blue box on left with white text*/
#intro {
  background-color: #435C5F;
  color: #F4FAF8 ;
  position: absolute;
  left: 0;
  width: 35%;
  height: 500px;
  text-align: left;
}

/*moved text to offset left and changed text size*/
#text {
  margin-top: 160px;
  margin-left: 60px;
  margin-right: 80px;
}

h3 {
  font-size: 20px;
}

span {
  font-size: 12px;
}

/*white side with sign in information*/
.welcome {
  margin-top: 140px;
  margin-left: 180px;
}

/*input box with rounded corners*/
.formControl {
  display: block;
  width: 250px;
  font-size: 15px;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px #e4e4e4 solid;
  color: #435C5F;
}

/*label*/
label {
  font-size: 12px;
  padding-left: 15px;
  text-indent: -15px;
  display: block;
  margin-bottom: 15px;
}

/*buttons*/
.login {
  background-color: #3793CB;
  color: #F4FAF8 ;
  border: #3793CB;
  border-radius: 25px;
  width: 130px;
  text-align: center;
  margin-right: 40px;
  padding: 8px;
  font-size: 16px;
}

#sign {
  background-color: #F4FAF8;
  color: #3793CB;
  border: 1px solid #3793CB;
  border-radius: 25px;
  text-align: center;
  width: 100px;
  padding: 8px;
  font-size: 12px;
}

.circle {
  visibility: visible;
  position: fixed;
  height: 70px;
  background-color: #F4FAF8;
  color: #435C5F;
  border-radius: 100px;
  padding: 10px;
  left: 283px;
  top: 50%;
  transform: translate(0, -50%);
}

img{
    max-width: 180px;
}

.redirectToLogin{
    padding-top: 20px;
}

}