main {
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #314749;
    margin-top: 10px;
}

.carousel_container {
    display: block;
    height: 300px;
    width: 100%;
    justify-content: center;
  }

  /* This is where the layout will break from mobile to desktop */
@media only screen and (min-width: 720px) {
    h1 {
        font-size: 1.5em;
    }
}