<app-main-header></app-main-header>
<app-search-bar></app-search-bar>

<div class="main">
    <h1>About</h1>
    <h2>Welcome to Novelish - the not so novel idea for book lovers everywhere!</h2>
    <p>Novelish is the product of three book loving full stack graduates of <a href="https://grandcircus.co">Grand Circus</a>,
        based in West Michigan, who hadn't yet found a satisfying solution 
        for a book organizing app. We wanted a great user experience that was simple and 
        easy to use, and allowed us to save and organize our book lists. Be sure to check back for
        new features currently in development, like creating your own shelves, advanced searching,
        tracking progress in your books, and adding notes.</p>
    <ul>
        <h2>Technologies Used:</h2>
        <li><a href="https://openlibrary.org/">Open Library API</a></li>
        <li><a href="https://developer.nytimes.com/docs/books-product/1/overview">New York Times Best Sellers API</a></li>
        <li>Backend database created in pgAdmin and Insomnia using Express framework</li>
        <li>Firebase user authentication</li>
        <li>Sentry error tracking</li>
        <li>Angular 12 platform</li>
    </ul>

    <div class="us">
        <div class="bio">
            <img src="assets/MaggieOudsema.jpg">
            <p><span>Maggie Oudsema</span> has 12+ years of experience as a research assistant partnered 
                with the hands-on software development skills gained at Grand Circus coding 
                boot camp. Maggie assisted with the development of this app. Her main focus was 
                wire-framing and FireBase Authorization. However, she helped and assisted with 
                all aspects of coding with para-coding and troubleshooting as needed.</p>
            <p class="book">Current Favorite Book:</p><p>The Lightbringer Series by Brent Weeks </p>
            <p><a href="https://www.linkedin.com/in/maggieoudsema/">LinkedIn</a></p>
            <p><a href="https://github.com/oudsemam">GitHub</a></p>
        </div>

        <div class="bio">
            <img src="assets/KWprofile600.jpg">
            <p><span>Kate Mora Woods</span> is a communications professional bringing her 6+ years of project management 
                and internal communications experience in to her coding adventures. Her main focus on Novelish 
                was the creation of the backend database using SQL, as well as styling in CSS. She was 
                thrilled to work with both Maggie and Mechial utilizing pair programming and beer. </p>
            <p class="book">Current Favorite Book:</p><p>"Byzantium" by Stephen R. Lawhead </p>
            <p><a href="https://www.linkedin.com/in/kate-woods/">LinkedIn</a></p>
            <p><a href="https://github.com/bailandocubita">GitHub</a></p>
        </div>

        <div class="bio">
            <img src="assets/MechialH.jpg">
            <p><span>Mechial Harrison</span> has spent the last 6+ years delivering high quality meals in high traffic kitchens. He brings 
                his passion for details and positive energy to software development. His main focus on this project was connecting
                to the multiple APIs and creating the services on the backend, as well as Typescriptted JavaScript functions galore.
            </p>
            <p class="book">Current Favorite Book:</p><p>"The President's Daughter" by Bill Clinton and James Patterson</p>
            <p><a href="https://www.linkedin.com/in/mechial-harrison/">LinkedIn</a></p>
            <p><a href="https://github.com/MechialH">GitHub</a></p>
        </div>
    </div>
    
</div>
