* {
    font-family: "Josefin Sans", sans-serif;
  }

  .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px;
  }

  h1 {
    /* font-family: 'Long Cang', cursive; */
    font-size: 2.5em;
  }

  .us {
      display: flex;
      flex-direction: column;
  }

  .bio {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      margin: 15px;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: whitesmoke;
    }

  .bio span {
      font-weight: bold;
      font-size: 1.5em;
  }

  .bio p {
      text-align: center;
  }

  img {
      width: 200px;
      height: 200px;
      margin: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  a {
      text-decoration: underline;
      color: black;
  }

  .bio a {
      text-decoration: underline;
      color: black;
      font-weight: bold;
  }

  a:hover {
    transform: scale(1.05);
  }

  .book {
      font-weight: bold;
      font-style: italic;
  }

  /* This is where the layout will break from mobile to Desktop */
@media only screen and (min-width: 720px) {
    .us {
        flex-direction: row;
    }
}




