<app-main-header></app-main-header>
<app-search-bar></app-search-bar>

<div class="main">
    <h1>About Us</h1>
    <h2>Welcome to Novelish - the not so novel idea for book lovers everywhere!</h2>
    <p>Novelish is the product of three book lover full stack graduates of <a href="https://grandcircus.co">Grand Circus</a>,
        based in West Michigan, who hadn't yet found a satisfying solution 
        for a book organizing app. We wanted a great user experience that was simple and 
        easy to use, and allowed us to save and organize our book lists. Be sure to check back for
        new features currently in development, like creating your own shelves, advanced searching,
        tracking progress in your books, and adding notes.</p>
    <ul>
        <h2>Technologies Used:</h2>
        <li><a href="https://openlibrary.org/">Open Library API</a></li>
        <li><a href="https://developer.nytimes.com/docs/books-product/1/overview">New York Times Best Sellers API</a></li>
        <li>Backend database created in pgAdmin and Insomnia using Express framework</li>
        <li>Firebase user authentication</li>
        <li>Sentry error tracking</li>
        <li>Angular 12 platform</li>
    </ul>
    
</div>
