/* .row {
    display: flex;
    flex-direction: row;
} */

.col-md-2 {
    display: flex;
    flex-direction: column;
    background-color: #435c5f;
    color:white;
    width: 100%;
}

ul {
    list-style-type: none;
    margin-left: 0;
}

li {
    list-style-type: none;
}

.inner-adjust {
    padding-left: 80px;
}

/* This is where the layout will break from mobile to Desktop */
@media only screen and (min-width: 720px) {

}