/* .row {
    display: flex;
    flex-direction: row;
} */
* {
    font-family: 'Josefin Sans', sans-serif;
}

.col-md-2 {
    display: flex;
    flex-direction: row;
    background-color: #3793CD;
    color:white;
    width: 100%;
}

li {
    list-style-type: none;
}

.inner-adjust {
    padding-left: 80px;
}

h2{
    font-family: 'Long Cang', cursive;
    font-size: 2em;
}

.nav-item {
    color: whitesmoke;
}

.nav-item:hover {
    color: lightgray;
    transform: scale(1.05);
}

/* This is where the layout will break from mobile to Desktop */
@media only screen and (min-width: 720px) {
.container-fluid{
    height: 100%;
}
    .row {
    display: flex;
    flex-direction: row;
}
.col-md-2 {
    width: 25%;
}
}