/* .row {
    display: flex;
    flex-direction: row;
} */

.col-md-2 {
    display: flex;
    flex-direction: row;
    background-color: #435c5f;
    color:white;
    width: 100%;
}

li {
    list-style-type: none;
}

.inner-adjust {
    padding-left: 80px;
}

h2{
    font-family: 'Long Cang', cursive;
}

/* This is where the layout will break from mobile to Desktop */
@media only screen and (min-width: 720px) {
.container-fluid{
    height: 100%;
}
    .row {
    display: flex;
    flex-direction: row;
}
.col-md-2 {
    width: 25%;
}
}