<app-main-header></app-main-header>
<app-search-bar></app-search-bar>

<h2>{{ book?.title }}</h2>
<div class="container">
  <img
    class="book"
    src="http://covers.openlibrary.org/b/isbn/{{ isbn }}-M.jpg"
  />
  <div class="buttons">
    <!-- <fa-icon [icon]='faStarHalfAlt' size="lg" class="nav-icon" routerLink="/all-reviews"></fa-icon> -->
    <button routerLink="/all-reviews">Review</button>
    <button (click)="(addToShelf)">Add</button>
    <button (click)="(addToBurnShelf)">
      <fa-icon [icon]="faDumpsterFire" size="lg" class="nav-icon"></fa-icon>
      Burn it!
    </button>
  </div>
</div>

<div class="details_container">
  <div>
    <h3>Details</h3>
    <h4>Pages</h4>
    <p>{{ book?.number_of_pages }}</p>
    <!-- <h4>Languages</h4>
    <p>{{ book?.languages.key }}</p> -->
    <h4>Publisher</h4>
    <p *ngFor="let publisher of book?.publishers">{{ publisher.name }}</p>
  </div>
  <div>
    <h3>Author(s)</h3>
    <h4 *ngFor="let author of book?.authors">{{ author.name }}</h4>
  </div>
</div>

<div>
  <h3>Reviews</h3>
  <div *ngFor="let review of reviews">
    <div>{{ review?.review }}</div>
  </div>
</div>
