<div>
  <!-- image of book (this can be a placeholder) -->
  <img
    class="book"
    src="http://covers.openlibrary.org/b/isbn/{{ isbn }}-M.jpg"
  />
  <div class="buttons">
    <button>On my bookshelf</button>
    <button>... but I never finished</button>
    <button>Wish list</button>
    <button>Add to ... bookshelf</button>
    <button>
      <fa-icon [icon]="faDumpsterFire" size="lg" class="nav-icon"></fa-icon>
      Burn it!
    </button>
  </div>
  <!-- placeholders for the book data below -->
  <!-- <h2>{{book.ISBN:{{isbn}}.title}}</h2>
  <div>
    <h3>Details</h3>
    <h4>Pages</h4>
    <p>{{book.ISBN:{{isbn}}.number_of_pages}}</p> -->
  <!-- <h4>Languages</h4>
    <p>{{book.ISBN:{{isbn}}.languages.key}}</p> -->
  <!-- <h4>Publisher</h4>
    <p>{{book.ISBN:{{isbn}}.publishers}}</p>
  </div>
  <div>
    <h3>Author(s)</h3>
    <h4>{{book.ISBN:{{isbn}}.authors.name}}</h4>
    <button>Add to bookshelf</button>
  </div>
</div> -->
</div>
