<div class="flexColumn">
  <h2>Pro</h2>
  <h2>or</h2>
  <h2>Con</h2>
</div>
<h3>How to make a review</h3>
<p>
  For each category below, click either <fa-icon [icon]="faPlusCircle" aria-label="plus"></fa-icon> for a pro (or positive aspect of the book) or <fa-icon [icon]="faMinusCircle" aria-label="minus"></fa-icon> for a con (or negative aspect of the book) if that category applies. Only vote for categories that you feel best apply (you do not have to vote in all categories) to the book you are currently reviewing below. 
</p>
<p>To unselect a category, just click on the same <fa-icon [icon]="faPlusCircle" aria-label="plus"></fa-icon> or <fa-icon [icon]="faMinusCircle" aria-label="minus"></fa-icon> to reset that category.</p>
<p>If category voting isn't your thing? Don't worry we still have the star rating and open note type reviews below.</p>

<div>
  <div *ngFor="let category of reviewCategories; let i = index">
     <p>{{ category.reviewCategory }}
    <button (click)="togglePositive(category, i)" [ngClass]="{'pro' : isPositive(category.reviewCategory)}"><fa-icon [icon]="faPlusCircle" aria-label="plus" ></fa-icon></button>
    <button (click)="toggleNegative(category, i)" [ngClass]="{'con' : isNegative(category.reviewCategory)}"><fa-icon [icon]="faMinusCircle" aria-label="minus"></fa-icon></button>
    </p>
  </div>
</div>