.columns {
    direction: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

/* 
Accuracy 
Character development
Editing
Informative
Organization
Pacing
Plot Development
Readability
World-Building
Worth the time/cost
Writing Style
 */