  <div class="flexColumn">
    <h2>Pros</h2>
    <h2>Categories</h2>
    <h2>Cons</h2>
  
  </div>
<div *ngFor="let i of reviewCategories" class="flexColumn">
    <button class="pro">
        <fa-icon [icon]="faPlusCircle" size="lg" class="positive"></fa-icon>
      {{ i.reviewCategory }}
    </button>
    <button class="neutral">
      <fa-icon [icon]="faPlusCircle" size="lg" class="positive" ></fa-icon>
      {{ i.reviewCategory }}
      <fa-icon [icon]="faMinusCircle" size="lg" class="negative"></fa-icon>
    </button>
    <button class="con">
      {{ i.reviewCategory }}
      <fa-icon [icon]="faMinusCircle" size="lg" class="negative"></fa-icon>
    </button>
</div>