<!-- this first div can be for if there are no reviews show this -->
<div>
  <h2>Uh oh! No reviews were found.</h2>
  <p>
    Have you read this book? Feel free to write your own by clicking on the
    <fa-icon [icon]="faStarHalfAlt" size="lg"> above.</fa-icon>
  </p>
</div>

<!-- this should be where the data gets put into. Right now I have it were its 
  displayed using the array I made. There should be a way to use this code 
  further to include the functionality of showing the votes for pro or con. -->
<h3>Pro or Con Categories</h3>
<div>
  <div *ngFor="let category of reviewCategories; let i = index">
    <fa-icon [icon]="faPlusCircle">counts towards true</fa-icon>
    <p class="leftMargin">
      {{ category.reviewCategory }}
    </p>
    <fa-icon [icon]="faMinusCircle"> counts towards false</fa-icon>
  </div>
</div>

<!-- Star Rating -->
<h3>Star Rating</h3>
<ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>
<p>Rating Scale:</p>
<p>Your rating: {{ starRating }} if at all possible this would be an average of each one</p>

<div>
    <p>something bound here giving text reviews. Ideally there would be only 1 verson of the review categories (above) with tallys for or against each one. This area would be where the text boxes would start for each typed review</p>
</div>
