<app-main-header></app-main-header>
<app-search-bar></app-search-bar>

<div class="main">
    <h1>Current NY Times Fiction Best Sellers</h1>
    <div class="carousel_container">
        <app-carousel [slides]="slides"></app-carousel>
    </div>
</div>

<div class="main">
    <h1>Current NY Times Nonfiction Best Sellers</h1>
    <div class="carousel_container">
        <app-carousel [slides]="slides2"></app-carousel>
    </div>
</div>

<div class="main">
    <h1>Current NY Times Graphic Novels & Manga Best Sellers</h1>
    <div class="carousel_container">
        <app-carousel [slides]="slides3"></app-carousel>
    </div>
</div>

