<app-main-header></app-main-header>
<app-search-bar></app-search-bar>

<h1>Current NY Times Best Sellers</h1>

<!-- <button (click)="slideLeft()"></button> -->

<div class="container">
  <!-- <h3 class="bestSellers">NY Times Current Best Sellers</h3> -->
  <div class="books" *ngFor="let book of bookList?.results.books">
    <a routerLink="/books/{{ book?.primary_isbn10 }}">
      <img
        src="http://covers.openlibrary.org/b/isbn/{{
          book?.primary_isbn10
        }}-M.jpg"
        alt="{{ book.title }}"
      />
    </a>
  </div>
</div>

<!-- <button (click)="slideRight()"></button> -->
