<div class="notes-container">
  <textarea
    [(ngModel)]="newNoteItem"
    aria-label="Notes"
    type="text"
    id="notes"
    name="notes"
    placeholder="Write your thoughts here..."
  ></textarea>
  <div class="notes-area">
    <button (click)="addNoteItem()" class="add-note">Add</button>
  </div>
  <div class="newNote">
    <div [item]="note" class="newListItem"></div>
    <p>{{ note }}</p>
    <button (click)="removeNoteItem(i)" class="remove-note">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
</div>
