* {
  padding: 0;
  padding-bottom: 55px;
  margin: 0;
}
.background {
    color: #000000; 
    background-image: url("/assets/kiwihug-y_2GC4EhOP4-unsplash.jpg");
    /* background-size: contain; */
    background-size: cover;
    background-color: rgb(233, 233, 231); 
}
