* {
  padding: 0;
  padding-bottom: 55px;
  margin: 0;
}
.background {
    color: #000000; 
    background-image: linear-gradient(180deg, white,whitesmoke, #3793CD);
    /* background-size: contain; */
    /* background-color: rgb(233, 233, 231);  */
}
