<header class="nav-parent">
    <div class="top-container">
        <div class="novelish-logo">
            <img class="novelish-logo" src="assets/Novelish.png" alt="Novelish logo"/>
        </div>
        <button class="shelf">Shelves</button>
    </div>
    <nav class="icon-nav"> 
        <!--to bookshelfs-->
        <fa-icon [icon]="faBook" size="lg" class="nav-icon"></fa-icon>
        <!-- to user interface-->
        <fa-icon [icon]="faUserCircle" size="lg" class="nav-icon"></fa-icon>
    </nav>
</header>
