* {
  background-color: #3793CD;
  font-family: 'Josefin Sans', sans-serif;
  color: whitesmoke;
}

.novelish-logo {
    width:180px;

}

a {
  text-decoration: none;
}

a:hover {
  color: black;
  transform: scale(1.05);
}

#hover:hover {
  color: black;
  transform: scale(1.05);
}

.novelish-logo:hover {
  transform: scale(1.05);
}

.shelf {
  font-size: 12px;
  font-weight: 500;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #435c5f;
  color: #98a09e;
  
}

.shelf:hover {
  color: white;
  background-color: #435c5f;
  
}

.icon-nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0 10px 0;
  /* background-color: #3793CD; */
  border-top: 1px solid #cecece;
  padding-right: 70px;
}

nav {
  z-index: 9;
}

.nav-icon {
  color: whitesmoke;
}

.nav-icon:hover {
  color: lightgray;
  transform: scale(1.10);
}

.top-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
  padding-right: 25px;
  z-index: 5;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;

  background: white;
  color: whitesmoke;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000000;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  visibility: hidden;
  position: absolute;
  width: 275px;
  margin: -100px 0 0 0;
  padding: 20px;
  padding-top: 125px;
  right: -100px;
  border-radius: 4px;
  /* background: rgba(255, 255, 255, 0.75); */
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu input {
  pointer-events: none;
}

#menu li {
  padding: 5px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  visibility: visible;
  transform: none;
  opacity: 1;
}

 

/* This is where the layout will break from mobile to Desktop */
@media only screen and (min-width: 720px) {
  .nav-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
  }

  .icon-nav {
    position: relative;
    width: 30vw;
  }
}
.top-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon-nav {
  border: none;
}

