<header class="nav-parent">
    <div class="top-container">
        <div class="novelish-logo">
            <img class="novelish-logo" src="assets/Novelish blue cropped.png" alt="Novelish logo" routerLink="/home"/>
        </div>
    </div>
    <nav class="icon-nav"> 
        <!-- to reviews -->
        <fa-icon [icon]='faStarHalfAlt' size="lg" class="nav-icon" routerLink="/all-reviews"></fa-icon>
        <!--to bookshelfs-->
        <fa-icon [icon]="faBook" size="lg" class="nav-icon" routerLink="/shelves"></fa-icon>
        <!-- to user interface-->
        <fa-icon [icon]="faUserCircle" size="lg" class="nav-icon" routerLink="/dashboard"></fa-icon>
        <fa-icon [icon]="faBars" class="nav-icon" routerLink="/side-menu"></fa-icon>
    </nav>
</header>
