* {
    font-size: 16px;
    position: relative;
    background-color: #3793CD;
    color: whitesmoke;
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-size: 1.2em;
}

main {
    padding: 15px;
    max-width: 100px;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 15px;
}

li {
    list-style-type: none;
}

li:hover {
    color: #314749;
}

a {
    text-decoration: none;
}

a:hover {
    color: #314749
}